<div class="aside" [class.aside_hidden]="!asideVisible">
    <a class="aside__cleaner" href="#" (click)="onClick($event)"><fa-icon [icon]="['fas', 'times']"></fa-icon></a>
    <div class="aside__content">
        <app-menu [location]="current"></app-menu>
        <a class="logo" routerLink="/home">
            <img class="logo__image logo__image_gray" src="./assets/images/logo_flower_gray.svg">
            <div class="logo__text">
                <span class="logo__text logo__text_big logo__text_gray">akalmeetkaur</span>
                <span class="logo__text logo__text_small_gray">online</span>
            </div>
        </a>
        <app-copyright [location]="current"></app-copyright>
        <app-social [location]="current"></app-social>
    </div>
</div>
