.header {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);

    &__content {
        display: flex;
        align-items: center;
        margin: 0 auto;

        //mobile - tablet
        @media screen and (min-width: @sizes[mobile]) and (max-width: @sizes[tablet] - 1) {
            height: 49px;
            padding: 0 20px;
        }
        //tablet - desktop
        @media screen and (min-width: @sizes[tablet]) and (max-width: @sizes[desktop] - 1) {
            height: 62px;
            max-width: 1024px - 80px;
            padding: 0 20px;
        }
        //desktop +
        @media screen and (min-width: @sizes[desktop]) {
            height: 87px;
            max-width: 1440px - 260px;
            padding: 0 40px;
        }
    }

    &__menu {
        border-right: 1px solid #e4e4e4;

        //mobile - desktop
        @media screen and (max-width: @sizes[desktop] - 1) {
            display: none;
        }
        //desktop - desktop_hd
        @media screen and (min-width: @sizes[desktop]) and (max-width: @sizes[desktop_hd] - 1) {
            margin: 3px 6px 0 auto;
            padding: 0 19px;
        }
        //desktop_hd+
        @media screen and (min-width: @sizes[desktop_hd]) {
            margin: 3px 5px 0 auto;
            padding: 0 18px;
        }
    }

    &__social {
        display: flex;
        margin: 9px 0 0 0;

        //desktop +
        @media screen and (max-width: @sizes[desktop] - 1) {
            display: none;
        }
    }
}
