<div class="cover">
    <div class="cover__content">
        <h1 class="cover__title">Онлайн курсы по&nbsp;Кундалини&nbsp;йоге</h1>
        <p class="cover__text">Кундалини йога - это тот мощный инструмент, который позволяет менять вашу жизнь независимо от внешних обстоятельств, вашего уровня знакомства с йогическими практиками и того, насколько вы верите в силу этой техники. На этом ресурсе вы сможете познакомиться с различными тематическими классами по Кундалини йоге, а также приобрести целый курс для решения только вашего, индивидуального запроса.<br> Сат Нам!</p>
        <a class="button button_blue cover__button" href="#">Купить курс</a>
    </div>
    <div class="cover__image">
        <img class="cover__picture" src="assets/images/photo_1.png">
    </div>
</div>