<div class="article">
    <div class="article__image"><img class="article__picture article__picture_top" src="./assets/images/blog.jpg"></div>
    <a class="article__link article__link_center" href="#">Семья</a>
    <h1 class="article__title">Как с помощью дыхания избавиться от вредных привычек и не только</h1>
    <p class="article__text">Начала заниматься йогой с 2010 года у Дарьи Прудниковой (Кундалини, Хатха, Аштанга).</p>
    <p class="article__text">Прошла обучение в школе Кундалини Йоги АМРИТ НАМ САРОВАР и стала сертифицированным преподавателем Кундалини йоги Уровень I (KRI). Обучалась у Карта Сингха (Франция), Биби Нанаки Каур (Германия), Джоды Каур (Германия), Кальян Сингха (Александр Куликов, Россия), Амрит Садханы Каур (Татьяна Терентьева, Россия), Меэра Сингха (Алексей Меркулов, Россия), Прабу Джап Сингха (Алексей Владовский, Россия).</p>
    <p class="article__text">В 2013 году прошла курс випасаны в традиции <a class="article__link" href="#">Саяджи У Ба Кхина</a> (С.Н.Гоенка) в Латвии.<br> В 2018 году закончила обучение на курсе подготовки учителей по Шакти Данс.</p>
    <p class="article__text">Для Вероники йога - это способ жить счастливой и наполненной жизнью, в соответствии со своим внутренним миром и в состоянии полной гармонии. </p>
    <div class="article__image"><img class="article__picture" src="./assets/images/article_image_1.jpg"></div>
    <p class="article__text">Начала заниматься йогой с 2010 года у Дарьи Прудниковой (Кундалини, Хатха, Аштанга).</p>
    <p class="article__text">Прошла обучение в школе Кундалини Йоги АМРИТ НАМ САРОВАР и стала сертифицированным преподавателем Кундалини йоги Уровень I (KRI). Обучалась у Карта Сингха (Франция), Биби Нанаки Каур (Германия), Джоды Каур (Германия), Кальян Сингха (Александр Куликов, Россия), Амрит Садханы Каур (Татьяна Терентьева, Россия), Меэра Сингха (Алексей Меркулов, Россия), Прабу Джап Сингха (Алексей Владовский, Россия).</p>
    <p class="article__text">В 2013 году прошла курс випасаны в традиции Саяджи У Ба Кхина (С.Н.Гоенка) в Латвии.<br> В 2018 году закончила обучение на курсе подготовки учителей по Шакти Данс.</p>
    <p class="article__text">Для Вероники йога - это способ жить счастливой и наполненной жизнью, в соответствии со своим внутренним миром и в состоянии полной гармонии. </p>
</div>
<app-slider></app-slider>