<div class="article">
    <div class="article__image"><img class="article__picture article__picture_top" src="{{ article.imageUrl }}"></div>
    <h1 class="article__title">{{ article.title }}</h1>
    <div class="article__content" *ngFor="let content of article.content; let i = index">
        <div class="article__text" [innerHTML]="articleText[i]"></div>
        <div class="article__image"><img class="article__picture" src="{{ content.imageUrl }}"></div>
    </div>
</div>
<app-slider (newPage)="setCurrentId($event)"></app-slider>