<div class="section">
    <div class="section__image">
        <picture class="section__picture">
            <source media="(max-width: 767px)" srcset="assets/images/photo_2_280w.jpg">
            <source media="(max-width: 1023px)" srcset="assets/images/photo_2_356w.jpg">
            <source media="(max-width: 1439px)" srcset="assets/images/photo_2_460w.jpg">
            <source media="(min-width: 1440px)" srcset="assets/images/photo_2_580w.jpg">
            <img src="assets/images/photo_2_580w.jpg">
        </picture>
    </div>
    <div class="section__content">
        <h1 class="section__title">Вероника Голубенкова</h1>
        <div class="section__text section__text_gray">
            <p>преподаватель Кундалини йоги</p>
            <p>Начала заниматься йогой с 2010 года у Дарьи Прудниковой (Кундалини, Хатха, Аштанга).</p>
            <p>Прошла обучение в школе Кундалини Йоги АМРИТ НАМ САРОВАР и стала сертифицированным преподавателем Кундалини йоги Уровень I (KRI). Обучалась у Карта Сингха (Франция), Биби Нанаки Каур (Германия), Джоды Каур (Германия), Кальян Сингха (Александр Куликов, Россия), Амрит Садханы Каур (Татьяна Терентьева, Россия), Меэра Сингха (Алексей Меркулов, Россия), Прабу Джап Сингха (Алексей Владовский, Россия).</p>
            <p>В 2013 году прошла курс випасаны в традиции Саяджи У Ба Кхина (С.Н.Гоенка) в Латвии.</p>
            <p>В 2018 году закончила обучение на курсе подготовки учителей по Шакти Данс.</p>
            <p>Для Вероники йога - это способ жить счастливой и наполненной жизнью, в соответствии со своим внутренним миром и в состоянии полной гармонии. </p>
        </div>
    </div>
</div>