<div class="video">
    <ng-content></ng-content>

    <ng-container *ngFor="let video of videos; let i = index">
        <div class="video__item" [style.backgroundImage]="'url(/assets/images/photo_3_580w.jpg)'">
            <i class="video__overlay"></i>
            <h1 class="video__title">{{ video.title }}</h1>
            <p class="video__text">{{ video.text }}</p>
            <a class="button button_blue video__button" *ngIf="video.purchase; else watchBlock">Купить видео</a>
            <ng-template #watchBlock>
                <a class="button button_light video__button" (click)="onClick(i)">Смотреть видео</a>
            </ng-template>
            <ng-container *ngIf="!video.purchase">
                <div class="video__popup" [class.video__popup_hidden]="hiddenVideos[i]">
                    <iframe class="video__player" [src]="videoLink[i]" frameborder="0" allowfullscreen></iframe>
                    <div class="video__cleaner" (click)="onClick(i)">
                        <fa-icon [icon]="['fas', 'times']"></fa-icon>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>