<div class="video video_homepage" *ngIf="location === 'homepage'; else videosPage">
    <div class="video__item" *ngFor="let video of homepageVideos">
        <i class="video__overlay" *ngIf="!video.first"></i>
        <h1 class="video__title" [class.video__title_dark]="video.first">{{ video.title }}</h1>
        <p class="video__text" [class.video__text_dark]="video.first">{{ video.text }}</p>
        <a class="button button_blue video__button" *ngIf="video.purchase; else watchButton">Купить видео</a>
        <ng-template #watchButton *ngIf="!video.first; else firstButton">
            <a class="button button_light video__button">Смотреть видео</a>
        </ng-template>
        <ng-template #firstButton>
            <a class="button button_dark video__button">Всё видео курса</a>
        </ng-template>
    </div>
</div>
<ng-template #videosPage>
    <div class="video">
        <div class="video__item" *ngFor="let video of videos">
            <i class="video__overlay"></i>
            <h1 class="video__title">{{ video.title }}</h1>
            <p class="video__text">{{ video.text }}</p>
            <a class="button button_blue video__button" *ngIf="video.purchase; else watchBlock">Купить видео</a>
            <ng-template #watchBlock>
                <a class="button button_light video__button">Смотреть видео</a>
            </ng-template>
        </div>
    </div>
</ng-template>