<div class="sidebar">
    <div class="sidebar sidebar_short">
        <a class="sidebar__title sidebar__title_short" href="list_mobile.html">Темы</a>
        <p class="sidebar__item">Все статьи</p>
    </div>
    <div class="sidebar sidebar_long">
        <h2 class="sidebar__title" href="#">Темы</h2>
        <a class="sidebar__item" href="#">Все статьи</a>
        <a class="sidebar__item" routerLink="/article">Семья</a>
        <a class="sidebar__item" routerLink="/videos">Видео</a>
        <a class="sidebar__item" routerLink="/library">Библиотека</a>
        <a class="sidebar__item" routerLink="/blog">Блог</a>
        <a class="sidebar__item" href="#">Здоровье</a>
    </div>
</div>